.navbar ul {
  list-style: none;
}

.navbar {
  z-index: 5;
  position: absolute;
  background-color: rgba(0, 0, 1, 0.192);
  backdrop-filter: blur(5px);
  padding-top: 1rem;
  box-shadow: #20202079 8px 10px 10px;
}

.menu_mobil {
  width: 1.5rem;
}

nav .option .navbar-link,
.form_search {
  text-align: center;
  width: rem;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
}

nav .option .navbar-link:hover {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.493);
  backdrop-filter: blur(5px);
  color: #202020;
  border-bottom: 5px solid #1289a7;
}

nav .login_log_in li a {
  width: 8rem;
  text-align: center;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #1289a7;
}

/*from_search*/
.form_search input {
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #202020;
  color: #fff;
  width: 15rem;
}

.form_search input::placeholder {
  color: #fff;
}

/*results_search*/

.results_search {
  position: absolute;
  background-color: #ffffff98;
  padding: 15px;
  width: 15rem;
  border-radius: 15px;
  height: 15rem;
  box-shadow: 8px 8px 8px #00000070;
  overflow: auto;
}

nav .login_log_in li a:hover {
  transition: all 0.5s;
  background-color: #1b1464;
  box-shadow: #1b14647c 8px 10px 12px;
  color: #fff
}

@media only screen and (max-width: 990px) {
  .option li {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .option li .navbar-link {
    width: 100%;
  }

  nav .login_log_in li:nth-child(1) a {
    position: relative;
    text-align: center;
    left: 1.5rem;
    width: 100%;
  }

  nav .login_log_in li:nth-child(2) a {
    width: 100%;
  }

  .login_log_in li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .form_search {
    justify-content: center;
  }

  .option li a:hover {
    transition: none;
    padding-top: 0px;
    color: #fff;
    border: none;
    background: none;
    box-shadow: none;
  }

  .login_log_info li a:hover {
    border: none;
    background: none;
    box-shadow: none;
  }
}